 <!--<!doctype html>
 <html lang="en">
 &lt;!&ndash; WRAPPER &ndash;&gt;
 <div id="wrapper">
   &lt;!&ndash; NAVBAR &ndash;&gt;
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="brand">
       <img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo">
     </div>
     <div class="container-fluid">
       <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
           <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
             <i class="fa fa-user icon-ft"></i>
           </a>
           <ul class="dropdown-menu">
             <li><a href="#"><span class="bg-warning"></span>System space is almost full</a></li>
             <li><a href="#"><span class="bg-danger"></span>You have 9 unfinished tasks</a></li>
             <li><a href="#"><span class="bg-success"></span>Monthly report is available</a></li>
             <li><a href="#"><span class="bg-warning"></span>Weekly meeting in 1 hour</a></li>
             <li><a href="#"><span class="bg-success"></span>Your request has been approved</a></li>
             <li><a href="#">See all notifications</a></li>
           </ul>
         </li>
       </ul>
     </div>
   </nav>
   &lt;!&ndash; LEFT SIDEBAR &ndash;&gt;
   <div id="sidebar-nav" class="sidebar">
     <div class="sidebar-scroll">
       <nav>
         <ul class="nav">
           <li><a  href="javascript:;" class=""><i class="fa fa-home fa-fw"></i><span>Dashboard</span></a></li>
           <li><a href="javascript:;" class=""><span>Elements</span></a></li>
           <li><a href="javascript:;" class=""><span>Charts</span></a></li>
           <li><a href="javascript:;" class=""><span>Panels</span></a></li>
           <li><a href="javascript:;" class=""><span>Notifications</span></a></li>
           <li>
             <a href="#subPages" data-toggle="collapse" class="collapsed"><span>Pages</span> <i class="icon-submenu lnr lnr-chevron-up"></i></a>
             <div id="subPages" class="collapse">
               <ul class="nav">
                 <li><a href="javascript:;" class="">Profile</a></li>
                 <li><a href="javascript:;" class="">Login</a></li>
                 <li><a href="javascript:;" class="">Lockscreen</a></li>
               </ul>
             </div>
           </li>
           <li><a href="javascript:;" class=""><span>Tables</span></a></li>
           <li><a href="javascript:;" class=""><span>Typography</span></a></li>
           <li><a href="javascript:;" class=""><span>Icons</span></a></li>
         </ul>
       </nav>
     </div>
   </div>
   &lt;!&ndash; END LEFT SIDEBAR &ndash;&gt;
   &lt;!&ndash; MAIN &ndash;&gt;
   <div class="main">
     &lt;!&ndash; MAIN CONTENT &ndash;&gt;
     <div class="main-content">
       <div class="container-fluid">
         <div class="row">
           <div class="col-md-6">
           </div>
           <div class="col-md-6">
           </div>
         </div>
         <div class="row">
           <div class="col-md-7">
           </div>
           <div class="col-md-5">
           </div>
         </div>
       </div>
     </div>
     &lt;!&ndash; END MAIN CONTENT &ndash;&gt;
   </div>
   &lt;!&ndash; END MAIN &ndash;&gt;
   <div class="clearfix"></div>

 </div>

 </html>-->
<div class="back-system">
  <div class="back-menu-top">
    <img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="back-logo">
    <div class="top-tips">
      <div class="back-tips">
        <i class="fa fa-bell-o fa-user"></i>
        <span class="back-user-text">tips</span>
      </div>
      <div class="back-tips">
        <i class="fa fa-user-circle fa-user"></i>
        <span class="back-user-text">张三</span>
      </div>
    </div>
  </div>
  <div class="back-menu-left">
    <ul class="menu-ul">
      <li>用户管理</li>
      <li>员工管理</li>
      <li>基础数据管理</li>
      <li>相册管理</li>
      <li>招生信息管理</li>
      <li>招聘管理</li>
    </ul>
  </div>
  <div class="back-main-content"></div>
</div>


