<div class="back-system">
  <div class="back-menu-top">
    <img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="back-logo">
    <div class="top-tips">
      <div class="back-tips">
        <i class="fa fa-bell-o fa-user"></i>
        <span class="back-user-text">tips</span>
      </div>
      <div class="back-tips">
        <i class="fa fa-user-circle fa-user"></i>
        <span class="back-user-text">张三</span>
      </div>
    </div>
  </div>
  <div class="back-menu-left">
    <ul class="menu-ul">
      <li>
        <i class="fa fa-id-card-o fa-menu-li"></i>
        <span class="menu-span">用户管理</span>
      </li>
      <li>员工管理</li>
      <li>基础数据管理</li>
      <li>相册管理</li>
      <li>招生信息管理</li>
      <li>招聘管理</li>
    </ul>
  </div>
  <div class="back-main-content"></div>
</div>


