<div class="photo">
  <!-- 上传按钮 -->
  <div class="photo-banner">
    <a [ngClass]="{'photo-active': showGraphBanner}" (click)="showGraphBanner = true; showVideoBanner = false">相册</a>
    <a [ngClass]="{'photo-active': showVideoBanner}" (click)="showVideoBanner = true; showGraphBanner = false">视频</a>
  </div>
  <div class="clear"></div>
  <div class="photo-button">
    <a href="#" class="btn btn-success btn-lg active" role="button">上传照片</a>
    <a href="#" class="btn btn-success btn-lg active" role="button">上传视频</a>
  </div>
  <!-- 相册展示 -->
  <div class="photo-album" [ngClass]="{'photo-show': !showGraph, 'photo-hide' : showGraph}">
    <div class="photo-album-detail" *ngFor="let photo of photoAlbumList" (click)="showGraph = true;">
      <img src="{{photo.img}}" class="img-rounded" height="140" width="140" ><br>
      <label class="photo-name">{{photo.name}}({{photo.count}})</label>
    </div>
  </div>
  <!-- 相片展示 -->
  <div class="clear"></div>
  <div class="photo-graph" [ngClass]="{'photo-show': showGraph, 'photo-hide' : !showGraph}">
    <div class="photo-graph-detail" *ngFor="let photograph of photographList">
      <img src="{{photograph}}" alt="..." class="img-rounded" height="140" width="140" >
    </div>
  </div>
</div>
