<div class="container register"><br/>
  <div class="register-bg"></div>
  <div class="register-desc">{{description}}</div>
  <div class="register-split"></div>
  <div class="register-screen">
    <form #form="ngForm" class="login-form" (ngSubmit)="register()">
      <div class="form-group">
        <input type="text" class="form-control login-field" name="userName" [(ngModel)]="user.userName" #userName="ngModel"
               placeholder="Enter your userName" ng-maxlength="20" required />
      </div>
      <div class="form-group">
        <input type="password" class="form-control login-field" [(ngModel)]="user.password" #password="ngModel"
               name="password" placeholder="Password" ng-maxlength="20" required />
      </div>
      <div class="form-group">
        <input type="password" class="form-control login-field" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel"
               name="confirmPassword" placeholder="Confirm password" ng-maxlength="20" required />
      </div>
      <div class="form-group">
        <input type="text" class="form-control login-field" [(ngModel)]="user.realName" #realName="ngModel"
               name="realName" placeholder="Enter your realName" ng-maxlength="20" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control login-field" [(ngModel)]="user.emailAddress" #emailAddress="ngModel"
               name="emailAddress" placeholder="Enter your email address" ng-maxlength="20" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control login-field" [(ngModel)]="user.telPhone" #telPhone="ngModel"
               name="telPhone" placeholder="Enter your telPhone" ng-maxlength="20" />
      </div>
      <div *ngIf="errMsg != null" class="error-tips">{{errMsg}}</div>
      <button class="btn btn-primary btn-lg btn-block" id="btn-login" type="submit">Registering  now</button>
    </form>
  </div>
</div>
