<div class="user-reset">
  <div class="kid-input-box">
    <span class="reset-span">用户名：</span>
    <input class="reset-input" type="text">
  </div>
  <div class="kid-input-box">
    <span class="reset-span">验证电话：</span>
    <input class="reset-input" type="text">
  </div>
  <div class="kid-input-box">
    <span class="reset-span">新密码：</span>
    <input class="reset-input" type="password">
  </div>
  <div class="kid-input-box">
    <span class="reset-span">确认密码：</span>
    <input class="reset-input" type="password">
  </div>
  <div class="kid-btn-parent">
    <button class="kid-btn-primary reset-btn">Reset Password</button>
  </div>
</div>
