.login-background{
  height: 834px;
  width: 100%;
  background: url("../../../assets/img/login-bg.jpg") no-repeat 0 0;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.login-form-fill{
  top: 45%;
  left: 45%;
  position: relative;
}
.login-fa-icon{
  float: left;
  position: absolute;
  padding-top: 5px;
  text-indent: 5px;
}
.fa-icon{
  color: #C9C9C9;
  font-size: 16px;
}

.login-input{
  font-size:17px;
  text-indent:3px;
  border-color:transparent
}











.error-tips{
  font-size: 13px;
  color: red;
  padding-left: 20px;
  font-family: "Microsoft YaHei", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.remember span{
  font-family: "Microsoft YaHei", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #000;
  vertical-align: 4px;
}
.login {
  /*background: url(./assets/css/flat-ui/img/login/imac.png) 0 0 no-repeat;*/
  background-size: 940px 778px;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 38px 38px 267px;
  position: relative;
}
.login-screen {
  background-color: #1abc9c;
  min-height: 473px;
  padding: 123px 199px 33px 306px;
}
.login-icon {
  left: 200px;
  position: absolute;
  top: 160px;
  width: 100px;
}
.login-icon > img {
  display: block;
  margin-bottom: 6px;
  width: 100%;
}
.login-icon > h4 {
  font-size: 17px;
  font-weight: 300;
  line-height: 34px;
  opacity: .95;
}
.login-icon > h4 small {
  color: inherit;
  display: block;
  font-size: inherit;
  font-weight: 700;
}
.login-form {
  background-color: #edeff1;
  padding: 24px 23px 20px;
  position: relative;
  border-radius: 6px;
}
.login-form .control-group {
  margin-bottom: 6px;
  position: relative;
}
.login-form .login-field {
  border-color: transparent;
  font-size: 17px;
  text-indent: 3px;
}
.login-form .login-field:focus {
  border-color: #1abc9c;
}
.login-form .login-field:focus + .login-field-icon {
  color: #1abc9c;
}
.login-form .login-field-icon {
  color: #bfc9ca;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 3px;
  -webkit-transition: all .25s;
  transition: all .25s;
}
.login-link {
  color: #bfc9ca;
  display: block;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .login {
    /*background-image: url(../img/login/imac-2x.png);*/
  }
}
